/* All Pages*/

body {
  line-height: 1.5;
  margin: 0 auto;
  font-family:'Roboto', sans-serif;
  max-width: 50em;
  background-color: #a3adb8;
  align-self: center;
  justify-self: stretch;
}

/* Front Page */

#banner h1 {
    height: 46rem;
    display: flex;
    font-size: 3.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#name {
  color: whitesmoke;
  -webkit-text-stroke: 0.75px black;
  text-decoration: none;

}

#name:hover {
  background-color: #659dbd;
}
/* Photo of Liam */

.liam {
    float: left;
    margin: 1em;
  }

/* About Page */

/* About Nav Bar */


ul {
  overflow: hidden;
  background-color:#BC986A;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: larger;
}

nav li {
  float: left;
}
#social-links {
  float: right;
}

li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #DAAD86;
}

/* About Content */
.about {
  display: flex;
}

.about h1 {
    font-style: italic;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    text-decoration: underline;
    color: black;
  }
h3 {
    font-style: italic;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 1em; 
}

.box {
   width: 950px;
   height: 450px;
   margin: 5px;
   padding: 5px;
   border: 5px solid #659dbd;
 }

 #about-me p {
  color: black;
  font-size:15px;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
 }

.body-wrap {
   display: flex;
   flex-wrap: wrap;
  justify-content: center;
  height:800px;
}

.timeline-box {
  margin: 1em;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  width: 260px;
  transform-style: preserve-3d;
  transition: all 0.1s ease;

}

.timeline-box:hover {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  background-color:#DAAD86;

}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  text-align: center;
  background-color: #fbeec1;
}


/* Shreddit Content */

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  text-decoration: solid;
  position: relative;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

#shreddit-nav ul {
  width: 800px;
}
.shreddit-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 800px;
}

.shreddit-container ul {
  width: 250px;
}

.video-container {
  width: 1100px;
  
}

.row div{
  display: inline-block;
}

.row {
  align-items: flex-start;
  display: flex;
}

.row-item {
  padding-right: 1.5em;
}

#video {
  display: flex;
  flex-wrap: wrap;
 
}

 















 
  
  





  