
/* Front Page */


.outer-background {
  color: #fff;
  background: #090a0b no-repeat 50%;
  background-size: cover;
}


.site-nav {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  font-size: 1.3rem;
}


.site-nav-left {
  display: block;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-right: 10px;
  padding: 10px 0 80px;
  font-weight: 500;
  letter-spacing: .2px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 13px;

}
.site-nav-right {
  padding: 10px 0;
}

.site-header-content {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vw 3vw;
  min-height: 200px;
  max-height: 340px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name {
  z-index: 10;
  margin: 0 0 0 -2px;
  padding: 0;
  font-size: 5rem;
  line-height: 1em;
  font-weight: 600;

}
.personal-motto {
  z-index: 10;
  margin: 0;
  padding: 5px 0;
  font-size: 2.1rem;
  line-height: 1.4em;
  font-weight: 400;
  opacity: .8;
}

.nav li a {
    position: relative;
    display: block;
    padding: 12px;
    color: #fff;
    opacity: .8;
    transition: opacity .35s ease-in-out;
}

.medium-widget-article__item {
  background-color: white;}

/* All Pages*/

body {
  color: white;
  font-family: verdana;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background-color: black;
}

h1 {
  text-decoration: none;
  font-size: 20px;
}

h2 {
  text-decoration: none;
}
h3 {
  font-style: italic;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 1em; 
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
ul {
  overflow: hidden;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

nav li {
  float: left;
}

#site-nav-left {
  float: left;
}

#social-links {
  float: right;
}

#social-media-icons {
  float: right;
  padding: 0;
}

li a {
  display: flex;
  color: white;
  padding: 5px 6px;
  text-decoration: none;
}

.site-nav-logo {
  position: relative;
  z-index: 100;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 32px;
  color: #fff;
  font-size: 0.85rem;
  line-height: 1.8rem;
  font-weight: 700;
  letter-spacing: -.5px;
  text-transform: none;
}

/* About Page */

.about h1 {
    font-style: italic;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    color: white;
  }
 
.about-me-box {
   width: 950px;
   height: 450px;
   margin: 5px;
   padding: 5px;
   border: 5px solid black;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 #about-me p {
  color: white;
  font-size:15px;
  font-family: 'Roboto', sans-serif;

 }

.body-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height:800px;
}

.post-content {
  display: flex;
  justify-content: center;
}

.post-content a  {
  color: white;
}

.about-me-container {
  width: 1776px;
  height: 450px;
}

/* photo gallery */

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;

/* Shreddit Content */


header {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  text-decoration: solid;
  position: relative;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.shreddit-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#shreddit-title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#shreddit-nav {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-right: 10px;
  padding: 10px 0 80px;
  font-weight: 500;
  letter-spacing: .2px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 30px;
}

#surf-header-nav {
  color: white;
}

#skate-header-nav {
  color: black;
}
.shreddit-main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 800px;
}

.shreddit-main-content ul {
  width: 250px;
}

.video-container {
  width: 1100px;
  
}

.row div{
  display: inline-block;
}

.row {
  align-items: flex-start;
  display: flex;
}

.row-item {
  padding-right: 1.5em;
}

#video {
  display: flex;
  flex-wrap: wrap;
 
}

 















 
  
  





  